@{
    ViewBag.Title = "nguyen le duc thanh ";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>bai thi giua ki cua nguyen le duc thanh </h3>

    <address>
        k22cnt3 mon lap  trinh ung dung web voi cong nghe ASNET 
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:chungtrinhj@gmail.com">chungtrinhj@hmail.com</a><br />
        <strong>ca nhan </strong> <a href="mailto:thanhbt901@gmail.com">thanhbt901@gmail.com </a>
    </address>
</main>